.App {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  width: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.seed {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  position: absolute;
  right: 24px;
  top: 12px;
}

.metaButtons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 72px;
}

.metaProblemButton {
  border: 1px solid white;
  border-radius: 50%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 12px;
  color: white;
}

.metaProblemButton:focus {
    outline: none;
    outline-offset: none;
}

.metaProblemButton:active {
    transform: none;
}

.operationSymbolRow {
  display: flex;
  justify-content: space-evenly;
  padding-top: 24px;
}

.operationSymbol {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 48px;
  color: white;
}

.topNumberSymbolRow {
  padding-top: 24px;
}

.middleNumberSymbolRow {
  display: flex;
  justify-content: space-evenly;
}

.numberSymbol {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 72px;
  color: yellow;
}

.numberSymbolDisabled {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 72px;
  color: yellow;
  visibility: hidden;
}

.progress {
  padding-top: 48px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 96px;
  color: white;
}
