.App {
  max-width: 640px; 
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  width: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.clearProgress {
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 48px;
  color: white;
}

.clearProgress:focus {
    outline: none;
    outline-offset: none;
}

.clearProgress:active {
    transform: none;
}

.operationSymbolRow {
  display: flex;
  justify-content: space-evenly;
}

.operationSymbol {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 48px;
  color: white;
}

.topNumberSymbolRow {
  padding-top: 48px;
}

.middleNumberSymbolRow {
  display: flex;
  justify-content: space-evenly;
}

.numberSymbol {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 72px;
  color: yellow;
}

.numberSymbolDisabled {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 72px;
  color: gray;
}

.progress {
  padding-top: 48px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 96px;
  color: white;
}
